# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment files
.env

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# PyInstaller
build/
dist/
*.spec
WinSW-x64.exe
installer/output/
installer/output/
installer/client_files/_internal/
installer/client_files/MoonHardRemoteClient.exe
installer/client_files/MoonHardRemoteClientService.exe

# Installer local secrets
installer/secrets/